:root {
  /*main color*/
  --main1: #8aa996;
  --main2: #c2a68c;
  --main3: #e6d8c3;
  --main4: #f5f3f0;
  /*gray*/
  --gray1: #404040;
  --gray2: #565656;
  --gray3: #737373;
  --gray4: #9a9a9a;
  --gray5: #c0c0c0;
  --gray6: #d7d7d7;
  /*성공 실패*/
  --success: #40c79c;
  --fail: #f67272;
  /*btn:hover*/
  --btnHover: #5b8f6e;
}
@font-face {
  font-family: pr;
  src: url(/font/PretendardVariable.ttf);
}
@font-face {
  font-family: logo;
  src: url(/font/Butler_Bold.otf);
}
@font-face {
  font-family: number1;
  src: url(/font/RIDIBatang.otf);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: pr;
  list-style-type: none;
  color: var(--gray1);
}
a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 800px;
  position: relative;
  background-color: #fff;
}
label {
  cursor: pointer;
}
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  padding-top: 32px;
  width: 100%;
  margin: 30px auto;
  flex: 1;
}
/*-----------------------------default---------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid var(--main1);
  z-index: 100;
}

.header-inner {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 300px;
  margin-right: 40px;
}

.logo > a {
  font-family: logo;
  font-size: 50px;
  color: var(--main1);
}

.nav {
  flex: 1;
}

.nav > ul {
  display: flex;
  gap: 20px;
}

.nav > ul > li {
  font-size: 18px;
  padding: 10px;
}

.nav a {
  color: var(--gray1);
  transition: 0.3s;
  text-align: center;
}

.nav a:hover {
  color: var(--main2);
  font-weight: 500;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-top: 2px solid var(--main1);
  border-bottom: 1px solid var(--main1);
  z-index: 99;
}

.sub-menu ul {
  width: 770px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.sub-menu a {
  color: var(--gray1);
  padding: 10px;
  display: block;
}

.sub-menu a:hover {
  color: var(--main2);
}
.user-menu {
  display: flex;
  gap: 30px;
  width: 600px;
  justify-content: flex-end;
}
.user-menu li {
  padding: 10px 15px;
}
.user-menu a:hover {
  color: var(--main2);
}
.interior-btn {
  background-color: var(--main1);
  border: none;
  padding: 0px 15px;
  border-radius: 50px;
  height: 35px;
  cursor: pointer;
}
.interior-btn-box {
  display: flex;
}
.interior-btn span {
  font-weight: 500;
  color: #fff;
  font-size: 18px;
}
.interior-btn:hover {
  background-color: var(--btnHover);
  transition-duration: 0.2s;
}
.interior-btn:hover span {
  color: #fff;
  font-weight: 600;
}
.interior-btn .header-shopping-cart {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  padding-top: 2px;
}
/*-----------------------------header---------------------------------------*/
.footer {
  background-color: var(--gray6);
  display: flex;
}
.footer > div {
  max-width: 1400px;
  padding: 10px 10px;
  margin: 0 auto;
}
.footer > div:last-child {
  margin-top: 35px;
}
.footer > div > p {
  margin: 10px 0px;
  font-family: logo;
  font-size: 40px;
}
.foo-info-box > span:first-child {
  margin-left: 0;
}
.foo-info-box > span {
  margin: 0px 10px;
}
.foo-tbl {
  margin-top: 30px;
  border: none;
  width: 100%;
  border-spacing: 0;
  text-align: left;
}
.foo-tbl th,
.foo-tbl td {
  padding: 5px 10px;
}
.foo-tbl th {
  font-weight: 400;
  border-right: 1px solid var(--gray3);
}
.foo-inquiry-info {
  margin-bottom: 20px;
}
.foo-inquiry-info > p:last-child {
  font-size: 35px;
  font-weight: 400;
  font-family: number1;
  padding-top: 10px;
}
.foo-customer-info > p {
  padding: 5px 0px;
  font-size: 16px;
}
/*-----------------------------footer---------------------------------------*/
section.section {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  background-color: #fff;
}
/*-----------------------------content-box---------------------------------------*/
.slider-container {
  width: 100%;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 100%; /* 100% * 이미지 수 */
  height: 550px;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.prev-btn,
.next-btn {
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  font-size: 30px;
  padding: 5px 15px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
  margin-top: 30px;
}
.prev-btn > svg,
.next-btn > svg {
  font-size: 20px;
}
.prev-btn:hover > svg,
.next-btn:hover > svg {
  fill: var(--main1);
  font-size: 20px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
/*-----------------------------main-photo---------------------------------------*/
.main-content {
  width: 1400px;
  margin: 0 auto;
  text-align: center;
}
.main-content .main-title {
  padding: 30px;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  padding-top: 0;
}
/*-----------------------------main-content-default---------------------------------------*/
.question {
  display: flex;
  justify-content: center;
}
.question > p {
  font-size: 20px;
  margin-top: 10px;
  line-height: 20px;
}
.btn-box {
  background-color: var(--main1);
  padding: 8px 20px;
  border-radius: 50px;
  margin: 0px 15px;
}
.btn-box > p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.img-box {
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 75px;
}
.com-img-box {
  margin-top: 0;
}
.img-content {
  display: flex;
  gap: 75px;
  justify-content: center;
  margin-bottom: 60px;
}
.img-content .img-info {
  width: 400px;
  text-align: left;
}
.img-info .img-title {
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 600;
}
.img-info > p {
  line-height: 22px;
}
.column {
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.column p {
  line-height: 28px;
}
.column span {
  font-size: 28px;
  font-weight: 700;
  color: var(--main1);
}
.column > a {
  width: 220px;
  margin: 20px;
  font-size: 22px;
  font-weight: 600;
  color: var(--main1);
  cursor: pointer;
}
.column svg {
  fill: var(--main1);
}
/*-----------------------------question-items---------------------------------------*/
.com-board {
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.com-board > p {
  font-size: 18px;
}
.com-board-list-btn {
  display: flex;
  justify-content: flex-end;
}
.com-board-list-btn > a {
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.arrow-icon {
  font-weight: 300;
  padding-left: 5px;
  font-size: 18px;
  vertical-align: top;
}
.com-board-items {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.com-board-item {
  display: flex;
  width: 400px;
  justify-content: center;
  flex-direction: column;
}
.com-board-img-box:hover > img {
  transform: scale(1.1);
  transition: 0.3s;
}
.com-board-img-box > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.com-board-img-box {
  width: 400px;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
}
.com-board-info {
  text-align: left;
  margin: 10px 0px;
}
.com-board-info > .main-review-board-info {
  display: flex;
  justify-content: space-between;
}
.com-board-info p {
  padding: 20px 0px;
  font-size: 18px;
  cursor: pointer;
}
.com-board-info-top {
  display: flex;
  justify-content: space-between;
}
.com-board-info-top > svg {
  padding: 20px 0px;
  cursor: pointer;
}

.com-board-info > p:last-child {
  border-bottom: 1px solid var(--gray1);
}
.com-img-banner-box {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.com-img-banner-box > img {
  width: 100%;
}
