:root {
  /*main color*/
  --main1: #8aa996;
  --main2: #c2a68c;
  --main3: #e6d8c3;
  --main4: #f5f3f0;
  /*gray*/
  --gray1: #404040;
  --gray2: #565656;
  --gray3: #737373;
  --gray4: #9a9a9a;
  --gray5: #c0c0c0;
  --gray6: #d7d7d7;
  /*성공 실패*/
  --success: #78e0bf;
  --fail: #f67272;
  /*btn:hover*/
  --btnHover: #5b8f6e;
}
@font-face {
  font-family: pr;
  src: url(/font/PretendardVariable.ttf);
}
@font-face {
  font-family: logo;
  src: url(/font/Butler_Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: pr;
  list-style-type: none;
  color: var(--gray1);
}
a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 800px;
  position: relative;
  background-color: #fff;
}
/*-----------------------------default---------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid var(--main1);
  z-index: 100;
}

.header-inner {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 300px;
  margin-right: 40px;
}

.logo > a {
  font-family: logo;
  font-size: 50px;
  color: var(--main1);
}

.nav {
  flex: 1;
}

.nav > ul {
  display: flex;
  gap: 20px;
}

.nav > ul > li {
  font-size: 18px;
  padding: 10px;
}

.nav a {
  color: var(--gray1);
  transition: 0.3s;
  text-align: center;
}

.nav a:hover {
  color: var(--main2);
  font-weight: 500;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-top: 2px solid var(--main1);
  border-bottom: 1px solid var(--main1);
  z-index: 99;
}

.sub-menu ul {
  width: 770px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.sub-menu a {
  color: var(--gray1);
  padding: 10px;
  display: block;
}

.sub-menu a:hover {
  color: var(--main2);
}
.user-menu {
  display: flex;
  gap: 30px;
  width: 600px;
  justify-content: flex-end;
}
.user-menu li {
  padding: 10px 15px;
}
.user-menu a:hover {
  color: var(--main2);
}
.interior-btn {
  background-color: var(--main1);
  border-radius: 50px;
  cursor: pointer;
}
.interior-btn > a {
  font-weight: 600;
  color: #fff;
}
.interior-btn:hover {
  background-color: var(--btnHover);
  transition-duration: 0.2s;
}
.interior-btn:hover a {
  color: #fff;
  font-weight: 600;
}
/*-----------------------------header---------------------------------------*/
.footer {
  background-color: var(--gray6);
}
.footer > div {
  max-width: 1400px;
  padding: 20px 10px;
  margin: 0 auto;
}
.footer > div > p {
  margin: 10px 0px;
  font-family: logo;
  font-size: 40px;
}

.footer > div > ul {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 20px;
}
.footer > div > ul > li {
  float: left;
}
.footer > div > ul > li > a {
  padding-right: 20px;
}
/*-----------------------------footer---------------------------------------*/
.content {
  width: 100%;
  min-height: 850px;
  margin: 0px auto;
  flex: 1;
}
section.section {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}
section.section.bg-section {
  background-color: #f0f0f0;
}
/*-----------------------------content-box---------------------------------------*/
.slider {
  padding-top: 63px;
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
/*-----------------------------main-photo---------------------------------------*/
.main-content {
  width: 1400px;
  margin: 0 auto;
  text-align: center;
}
.main-content .main-title {
  padding: 20px;
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
}
/*-----------------------------main-content-default---------------------------------------*/
.question {
  display: flex;
  justify-content: center;
}
.question > p {
  font-size: 20px;
  margin-top: 10px;
  line-height: 20px;
}
.btn-box {
  background-color: var(--main1);
  padding: 8px 20px;
  border-radius: 50px;
  margin: 0px 15px;
}
.btn-box > p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.img-box {
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 75px;
}
.img-content {
  display: flex;
  gap: 75px;
  justify-content: center;
}
.img-content .img-info {
  width: 400px;
  text-align: left;
}
.img-info .img-title {
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 600;
}
.img-info > p {
  line-height: 22px;
}
.column {
  flex-direction: column;
  align-items: center;
}
.column p {
  line-height: 28px;
}
.column span {
  font-size: 28px;
  font-weight: 700;
  color: var(--main1);
}
.column > a {
  width: 220px;
  margin: 20px;
  font-size: 22px;
  font-weight: 600;
  color: var(--main1);
  cursor: pointer;
}
.column svg {
  fill: var(--main1);
}
/*-----------------------------question-items---------------------------------------*/
.designer {
  width: 1300px;
  margin: 0 auto;
}
.designer > p {
  font-size: 18px;
}
.list-btn {
  display: flex;
  justify-content: flex-end;
}
.list-btn > a {
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.arrow-icon {
  font-weight: 300;
  padding-left: 5px;
  font-size: 18px;
  vertical-align: top;
}
.designer-items {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.designer-item {
  display: flex;
  width: 400px;
  justify-content: center;
  flex-direction: column;
}
.designer-item > img {
  width: 400px;
}
.designer-info {
  text-align: left;
  margin: 10px 0px;
}
.designer-info > p {
  padding: 10px 0px;
  font-size: 18px;
}
