<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.designer.model.dao.DesignerDao">
	<select id="selectAllDesigner" resultType="designer">
		select * from designer_tbl
	</select>
	
    <insert id="insertDesigner" parameterType="designer">
        INSERT INTO designer_tbl VALUES (
            #{memberId},
            #{designerCareer},
            #{designerGraduationDate},
            #{designerGraduation},
            #{designerBank},
            #{designerAccount},
            #{designerPortfolio},
            #{designerChat},
            #{designerIntroduce},
            #{designerAge}
        )
    </insert>

    <insert id="insertCareerList" parameterType="list">
        INSERT ALL
        <foreach collection="list" item="career">
            INTO designer_career_detail_tbl VALUES (
                career_seq.NEXTVAL,
                #{career.memberId},
                #{career.designerCareerSy},
                #{career.designerCareerEy},
                #{career.designerCareerCom}
            )
        </foreach>
        SELECT * FROM DUAL
    </insert>

    <insert id="insertAwardList" parameterType="list">
        INSERT ALL
        <foreach collection="list" item="award">
            INTO designer_awards_career_tbl VALUES (
                awards_seq.NEXTVAL,
                #{award.memberId},
                #{award.designerAwardsDete},
                #{award.designerAwards}
            )
        </foreach>
        SELECT * FROM DUAL
    </insert>

    <!-- 회원의 등급을 '디자이너(2)'로 업데이트
    <update id="updateMemberTypeToDesigner" parameterType="string">
        UPDATE member_tbl SET member_type = 2 WHERE member_id = #{memberId}
    </update>
    -->
</mapper>
