<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.board.model.dao.InquiryBoardDao">
	<select id="getInquiryBoardNo" resultType="int">
		select inquiry_seq.nextval from dual
	</select>
	
	<insert id="insertBoard">
		insert into inquiry_board_tbl values
		(#{inquiryBoardNo}, #{inquiryBoardTitle}, #{inquiryBoardWriter}, #{inquiryBoardContent}, #{inquiryBoardOption}, #{inquiryBoardStatus}, #{adminComment}, #{inquiryPassword}, to_char(sysdate, 'yyyy-mm-dd'), null)
	</insert>
	
	<select id="totalCount" resultType="int">
		select count(*) from inquiry_board_tbl where inquiry_board_status = 1
	</select>
	
	<select id="selectBoardList" resultType="inquiry">
				select * from
			(select rownum as rnum, b. *
				from
					(select
						inquiry_board_no,
						inquiry_board_title,
						inquiry_board_writer,
						inquiry_board_content,
						inquiry_board_option,
						inquiry_board_status,
						admin_comment,
						admin_comment_date as admin_comment_date,
						inquiry_password,
						inquiry_board_date
					from inquiry_board_tbl order by inquiry_board_no asc)b)
		where rnum between #{start} and #{end}
	</select>
	
	<select id="selectOneBoard" resultType="inquiry">
		select * from inquiry_board_tbl where inquiry_board_no = #{inquiryBoardNo}
	</select>
	
	<update id="updateAdminComment">
  		update inquiry_board_tbl
     		set admin_comment = #{adminComment},
         	admin_comment_date = to_char(sysdate, 'yyyy-mm-dd')
   		where inquiry_board_no = #{inquiryBoardNo}
	</update>

	<delete id="deleteInquiryBoard">
  		delete from inquiry_board_tbl where inquiry_board_no = #{inquiryBoardNo}
	</delete>
	
	<update id="updateInquiry">
    	update inquiry_board_tbl
    		set 
        	inquiry_board_title = #{inquiryBoardTitle},
        	inquiry_board_content = #{inquiryBoardContent}
    	where inquiry_board_no = #{inquiryBoardNo}
	</update>
</mapper>
