<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.interior.model.dao.InteriorDao">
  <insert id="insertInterior">
  	insert into interior_tbl values(
  		interior_seq.nextval,
  		#{interiorDesigner},
  		#{interiorCustomer},
  		#{interiorLiving},
  		#{interiorKitchen},
  		#{interiorBed},
  		#{interiorOneroom},
  		#{interiorKidroom},
  		#{interiorStudy},
  		#{interiorRange},
  		#{interiorWhy},
  		#{interiorPrice},
  		0,
  		null
  	)
  </insert>
  <select id="selectIsInterior" resultType="int">
  	select count(*) from interior_tbl where interior_customer = #{memberId} and interior_payment_check = 0
  </select>
  <select id="selectInterior" resultType="interior">
  	select * from interior_tbl where interior_customer = #{memberId} and interior_payment_check = 0
  </select>
  <delete id="deleteInterior">
  	delete from interior_tbl where interior_no = #{interiorNo}
  </delete>
  <select id="selectPaymentsByMemberId" resultType="interior">
  SELECT 
        i.INTERIOR_NO,
        i.INTERIOR_DESIGNER,
        i.INTERIOR_CUSTOMER,
        i.INTERIOR_WHY,
        i.INTERIOR_PRICE,
        i.INTERIOR_PAYMENT_DATE,
        d.DESIGNER_CHAT
  FROM INTERIOR_TBL i
  LEFT JOIN DESIGNER_TBL d
         ON i.INTERIOR_DESIGNER = d.MEMBER_ID
  WHERE i.INTERIOR_CUSTOMER = #{memberId}
    AND i.INTERIOR_PAYMENT_CHECK = 1
  ORDER BY i.INTERIOR_PAYMENT_DATE DESC
    </select>
</mapper>
