<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.interior.model.dao.InteriorDao">
  <insert id="insertInterior">
  	insert into interior_tbl values(
  		interior_seq.nextval,
  		#{interiorDesigner},
  		#{interiorCustomer},
  		#{interiorLiving},
  		#{interiorKitchen},
  		#{interiorBed},
  		#{interiorOneroom},
  		#{interiorKidroom},
  		#{interiorStudy},
  		#{interiorRange},
  		#{interiorWhy},
  		#{interiorPrice},
  		0,
  		null
  	)
  </insert>
  <select id="selectIsInterior" resultType="int">
  	select count(*) from interior_tbl where interior_customer = #{memberId} and interior_payment_check = 0
  </select>
  <select id="selectInterior" resultType="interior">
  	select * from interior_tbl where interior_customer = #{memberId} and interior_payment_check = 0
  </select>
  <delete id="deleteInterior">
  	delete from interior_tbl where interior_no = #{interiorNo}
  </delete>
  <select id="selectPaymentsByMemberId" resultType="interior">
  SELECT 
        INTERIOR_NO,
        INTERIOR_DESIGNER,
        INTERIOR_CUSTOMER,
        INTERIOR_WHY,
        INTERIOR_PRICE,
        INTERIOR_PAYMENT_DATE
    		FROM INTERIOR_TBL
    		WHERE INTERIOR_CUSTOMER = #{memberId}
      		AND INTERIOR_PAYMENT_CHECK = 1
    		ORDER BY INTERIOR_PAYMENT_DATE DESC
    </select>
</mapper>
