<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">
	<select id="selectOneMember" resultType="member">
		select * from member_tbl where member_id = #{memberId}
	</select>
	<insert id="insertMember">
		insert into member_tbl
			values
			(#{memberId}, #{memberPw}, #{memberName}, #{memberPhone}, #{memberEmail}, #{memberAddr}, #{memberAddrDetail}, 3, default, to_char(sysdate, 'yyyy-mm-dd'), 0)
	</insert>
	<select id="exists" resultType="int">
		select count(*) from member_tbl where member_id = #{memberId}
	</select>
	<delete id="deleteMember">
		delete from member_tbl where member_id = #{memberId}
	</delete>
	<update id="updateMemeber">
		update member_tbl set
			member_pw = #{memberPw},
			member_phone = #{memberPhone},
			member_email = #{memberEmail},
			member_addr = #{memberAddr},
			member_addrDetail = #{memberAddrDetail}
		where member_id = #{memberId}
	</update>
	<select id="searchIdMember" resultType="member">
		select * from member_tbl where member_id = #{memberId}
	</select>
</mapper>