.login-wrap {
  width: 600px;
  margin: 0 auto;
  min-height: 500px;
  padding-top: 50px;
}
.login-wrap > .page-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.login-wrap .input-wrap {
  margin-top: 30px;
  margin-bottom: 50px;
}

.input-title {
  float: left;
  margin-right: 10px;
  width: 20%;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
}
.input-item > input {
  padding-top: 15px;
  border: none;
  border-bottom: 1px solid #9a9a9a;
  width: 75%;
  font-size: 18px;
}
.login-button {
  margin-top: 80px;
  text-align: center;
}
.login-button > button {
  width: 50%;
  background-color: #8aa996;
  border: 1px solid #8aa996;
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.member-link-box {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.member-link-box > a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.member-link-box > a:first-child {
  padding-right: 70px;
}
.member-link-box > a:last-child {
  padding-left: 10px;
}
.member-link-box > a:hover {
  color: blue;
  text-decoration: underline;
}

.join-wrap {
  width: 1240px;
  margin: 0 auto;
}
.join-wrap .input-wrap {
  padding: 10px 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-wrap > .page-title {
  margin: 0 auto;
}
.join-wrap .input-wrap {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5px;
}
.join-wrap .input-wrap > .input-title {
  width: 12%;
  font-size: 20px;
  text-align: center;
  background-color: #f5f3f0;
  padding-top: 10px;
  line-height: 40px;
  margin-left: 60px;
  padding: 5px;
}

.input-title > label {
  font-weight: 600;
}
.join-wrap .input-wrap > .input-item {
  width: 60%;
  padding-top: 20px;
}
.join-wrap .input-wrap > .input-item > input {
  width: 60%;
  font-size: 15px;
}
.join-wrap > .page-title {
  font-size: 24px;
}
.check-email {
  margin-top: 10px;
}
.check-email > input {
  width: 60%;
  margin-right: 30px;
  border: none;
  border-bottom: 1px solid #9a9a9a;
}
.check-email > button {
  border: 1px solid #8aa996;
  border-radius: 8px;
  background-color: #8aa996;
  padding: 5px 15px;
  color: #fff;
}
.join-wrap .input-wrap > .input-item > .checkId {
  border: 1px solid #8aa996;
  border-radius: 8px;
  background-color: #8aa996;
  color: #fff;
  font-size: 15px;
}
.join-wrap .input-wrap > .input-item > button {
  margin: 0 auto;
  border: 1px solid #8aa996;
  border-radius: 8px;
  background-color: #8aa996;
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
  padding: 5px 15px;
  cursor: pointer;
}
.join-button {
  text-align: center;
  margin: 0 auto;
}
.join-button > button {
  cursor: pointer;
  background-color: #8aa996;
  color: #fff;
  border: 1px solid #8aa996;
  border-radius: 15px;
  padding: 10px;
  font-size: 24px;
  width: 20%;
  margin-bottom: 50px;
}
.join-button > button > a {
  color: #fff;
}
.agree-wrap {
  width: 1440px;
  margin: 0 auto;
}
.agree-wrap > .page-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.agree-wrap .box-title {
  font-size: 20px;
  font-weight: bold;
}
.agree-content-wrap {
  margin: 0 auto;
  width: 800px;
}
.agree-content-wrap > .box-title > div:first-child {
  float: left;
  margin-right: 5px;
}
.necessary {
  color: red;
}
.agree-content-wrap > .contents {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: scroll;
  height: 300px;
}
.check-box {
  margin-bottom: 50px;
  text-align: right;
  display: flex;
  justify-content: right;
}
.check-box > div {
  text-align: right;
  float: left;
}
.agree-content-wrap > .sb-button-zone {
  text-align: center;
  margin-bottom: 50px;
}
.sb-button-zone > button {
  width: 30%;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  height: 50px;
  border-radius: 15px;
  border: none;
}
.sb-button-zone > button:last-child {
  background-color: #8aa996;
}
.sb-button-zone > button > a {
  text-decoration: none;
  color: #000;
}
.sb-button-zone > button > a:hover {
  color: blue;
  text-decoration: underline;
}

.mypage-wrap {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 50px;
}
.side-menu {
  float: left;
}
.mypage-tbl {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.mypage-tbl > tbody > tr > th {
  padding-bottom: 30px;
  border: 10px solid #fff;
  background-color: #f5f3f0;
  width: 20%;
  padding: 20px;
  margin-right: 30px;
}
.mypage-tbl > tbody > tr > td {
  border: 10px solid #fff;
}
.mypage-tbl input {
  border: none;
  outline: none;
  width: 100%;
  height: 55px;
  font-size: 22px;
  border-bottom: 1px solid #8aa996;
}
.secession-btn {
  text-align: center;
  margin-bottom: 30px;
}
.secession-btn > button {
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.secession-btn > button > a {
  color: #fff;
}

.update-wrap {
  width: 1440px;
  margin: 0 auto;
}
.update-tbl {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.update-tbl > tbody > tr > th {
  padding-bottom: 30px;
  border: 10px solid #fff;
  background-color: #f5f3f0;
  width: 20%;
  padding: 20px;
  margin-right: 30px;
}
.update-tbl > tbody > tr > td {
  border: 10px solid #fff;
}
.update-tbl input {
  border: none;
  outline: none;
  width: 100%;
  height: 55px;
  font-size: 22px;
  border-bottom: 1px solid #8aa996;
}
.update-btn {
  text-align: center;
  margin-bottom: 30px;
}
.update-btn > button {
  border: 1px solid #c0c0c0;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.update-btn > button:first-child {
  background-color: #c0c0c0;
  margin-right: 30px;
}
.update-btn > button:last-child {
  background-color: #8aa996;
}
.update-btn > button > a {
  color: #fff;
}

.payment-wrap {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
}
.payment-content-wrap {
  width: 100%;
  margin: 0 auto;
  float: left;
  display: flex;
  justify-content: center;
}

.content {
  width: 30%;
  margin: 0 auto;
  flex-direction: column;
}
.content > .img > img {
  width: 80%;
  margin-left: 50px;
}
.payment-info > p {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 17px;
  margin-left: 50px;
}
.payment-info > p:first-child {
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.recover-wrap {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 50px;
}

.recover-wrap .input-wrap {
  width: 70%;
  margin-top: 100px;
  margin: 40px auto;
}
.recover-wrap .input-wrap > .input-title {
  width: 20%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  border: 1px solid #f5f3f0;
  background-color: #f5f3f0;
  margin-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 70px;
}

.recover-wrap .input-wrap > .input-item > input {
  margin: 0 auto;
  font-size: 15px;
  width: 40%;
}
.recover-wrap .input-wrap > .input-item > .check-email {
  margin: 0 auto;
  width: 60%;
  margin-top: 20px;
}
.recover-wrap .input-wrap > .input-item > button {
  border: 1px solid #8aa996;
  border-radius: 8px;
  padding: 5px 15px;
  background-color: #8aa996;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}
.recover-wrap .input-wrap > .input-item > .check-email > input {
  margin-left: 90px;
}
.recover-wrap .input-wrap > .input-item > .check-email > button {
  margin-left: 35px;
  cursor: pointer;
}
.recovery-btn {
  text-align: center;
}
.recovery-btn > button {
  margin-top: 30px;
  border: 1px solid #8aa996;
  border-radius: 8px;
  padding: 10px 30px;
  background-color: #8aa996;
  cursor: pointer;
}
.recovery-btn > button > a {
  color: #fff;
}
