.inter-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.inter-content {
  position: fixed;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  transition: all 0.75s ease-in-out;
  overflow-y: auto;
  border-radius: 500px;
  overflow: hidden;
}
.active {
  width: 90%;
  height: 90%;
  border-radius: 8px;
  transition: all 0.75s ease-in-out, border-radius 0.75s 0.35s ease-in-out;
}
.inter-content-info {
  position: relative;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition-delay: 0.5s; /* 팝업 애니메이션 후 약간의 딜레이 */
  pointer-events: none; /* 안 보이는 동안 클릭 안 되게 */
}
.appear {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 1;
}
.inter-del-btn {
  position: relative;
  z-index: 10;
}
.inter-title-box {
  width: 100%;
}
/*----------------------------screen------------------------------------*/
.inter-content > button {
  margin: 40px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.inter-content > button > .inter-del-btn {
  font-size: 40px;
  fill: var(--gray5);
}
.inter-next-box {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
}
.inter-next-btn {
  display: flex;
  align-items: center;
  background-color: var(--main1);
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.inter-next-btn > svg {
  fill: #fff;
  vertical-align: middle;
  padding-left: 5px;
  font-size: 20px;
}
/*----------------------------modal-btn------------------------------------*/
.inter-main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.inter-main-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.inter-main-text > .main-title {
  text-align: left;
  margin: 40px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
}
.inter-main-text > p {
  text-align: left;
  margin-left: 40px;
  font-size: 18px;
}
.inter-main-text > .inter-sub-title {
  font-size: 16px;
  color: var(--gray4);
  margin-top: 5px;
}
.inter-title-box .inter-checked {
  border: 1px solid var(--btnHover);
  box-shadow: 0px 0px 20px 0 rgba(138, 169, 150, 0.6);
}
/*----------------------------modal-title------------------------------------*/
.interD-component-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.interD-component-box {
  width: 90%;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.interD-choice-items {
  width: 70%;
  height: 600px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  padding-top: 15px;
}
.interD-choice-item {
  margin-bottom: 20px;
  cursor: pointer;
}
.interD-check-box {
  border: 1px solid var(--gray1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.interD-check-box > .interD-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 580px;
}
.interD-introduction {
  height: 24px;
  display: flex;
  align-items: center;
}
.interD-introduction > a {
  font-size: 18px;
}
.interD-introduction > svg {
  font-size: 18px;
}
.interD-info-box > div {
  font-size: 18px;
}
.interD-check-box > img {
  width: 120px;
  border-radius: 8px;
}
.interD-more-btn {
  display: flex;
  justify-content: center;
}
.interD-more-btn > button {
  border: 1px solid var(--main1);
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.interD-more-btn > button:hover {
  background-color: var(--main1);
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
  transition: 0.2s;
  box-sizing: border-box;
}

/*----------------------------Designer-items------------------------------------*/
.interD-select-box {
  width: 30%;
  padding: 20px 20px;
  border: 1px solid var(--gray1);
  border-radius: 8px;
  text-align: center;
  margin-top: 15px;
}
.interD-checked-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interD-checked-info-box .interD-checked-img-box {
  width: 100%;
  max-width: 280px;
}
.interD-checked-img-box > img {
  width: 100%;
  border-radius: 8px;
}
.interD-checked-Designer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.interD-checked-Designer-info > div:first-child {
  margin-top: 20px;
  font-weight: 600;
}
.interD-checked-Designer-info > div {
  font-size: 20px;
}
/*----------------------------Designer-checked-info------------------------------------*/
.interS-main-box {
  display: flex;
  height: 576px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  gap: 30px;
}

.interS-choice-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.interS-choice-item {
  cursor: pointer;
  width: 25%;
}
.interS-check-box {
  height: 200px;
  border: 1px solid var(--gray1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.interS-check-box > .interS-info-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.material-symbols-outlined {
  font-size: 80px;
}
.interS-info-box > div {
  font-size: 27px;
}
/*----------------------------Space-checked-info------------------------------------*/
.interR-main-box {
  height: 576px;
  padding: 0px 20px;
  margin-bottom: 24px;
}

.interR-choice-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.interR-choice-item {
  cursor: pointer;
  width: 60%;
}

.interR-check-box {
  width: 80%;
  margin: 0 auto;
  border: 1px solid var(--gray1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 135px;
}

.interR-info-box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.interR-info-box > img {
  width: 150px;
  padding: 0 30px;
}
.interR-text-box {
  display: flex;
  width: 500px;
  font-size: 22px;
  justify-content: flex-start;
}
.interR-text-box > .interR-point-text {
  color: var(--main2);
  font-weight: 700;
}
/*----------------------------Range-checked-info------------------------------------*/
.interW-main-box {
  height: 576px;
  padding: 0px 20px;
  margin-bottom: 24px;
}

.interW-choice-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.interW-choice-item {
  cursor: pointer;
  width: 60%;
}

.interW-check-box {
  width: 80%;
  margin: 0 auto;
  border: 1px solid var(--gray1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 55px;
}

.interW-info-box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.interW-info-box > .material-symbols-outlined {
  width: 10%;
  font-size: 60px;
  padding: 0 30px;
}
.interW-info-box > .inter-checked-icon {
  font-weight: 900;
  font-size: 64px;
  color: var(--main1);
}
.interW-info-box > span:last-child {
  width: 70%;
  text-align: center;
  font-size: 22px;
}
/*----------------------------Why-checked-info------------------------------------*/
.payP-main-content {
  width: 1340px;
  margin: 0 auto;
}
.payP-order-box {
  display: flex;
  justify-content: center;
  gap: 40px;
}

label .payI-checked {
  border: 1px solid var(--btnHover);
  background-color: rgba(138, 169, 150, 0.1);
}

.payI-checked span {
  color: var(--btnHover);
  font-weight: 500;
}

.orderI-info-box {
  margin-top: 30px;
  width: 700px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 40px 50px;
  border-radius: 8px;
}
/*----------------------------payPage-orderInfo-box------------------------------------*/
.orderI-member-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray1);
  padding-bottom: 5px;
}
.pay-title {
  font-size: 24px;
  font-weight: 600;
}
/*----------------------------payPage-title------------------------------------*/
.orderI-interior-space-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  padding-top: 30px;
  border-bottom: 1px solid var(--gray1);
}
.orderI-interior-space-box > span {
  font-size: 18px;
}
.orderI-interior-space-price-all {
  border-bottom: 1px solid var(--gray1);
}
.orderI-interior-space-price-box {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid var(--gray5);
}
.orderI-interior-space-price-box:last-child {
  border: none;
}
.orderI-group-box {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 130px;
}
.orderI-group-box:last-child {
  justify-content: flex-end;
}
.orderI-group-box button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.orderI-group-box span {
  font-size: 20px;
}
.orderI-group-box .material-symbols-outlined {
  font-size: 40px;
}
/*----------------------------payPage-space-price------------------------------------*/
.orderI-sub-title {
  font-size: 20px;
  font-weight: 500;
  padding: 15px 0px;
}
.orderI-interior-check-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray1);
}
.border-none {
  border: none;
  padding: 0;
}
.orderI-interior-items {
  display: flex;
  justify-content: space-between;
}
.orderI-interior-item {
  border: 1px solid var(--gray1);
  border-radius: 8px;
  width: 200px;
  padding: 15px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.orderI-interior-item .material-symbols-outlined {
  font-size: 40px;
}
.orderI-interior-item span:last-child {
  font-size: 20px;
}
.orderI-center {
  justify-content: center;
}
.orderI-evenly {
  justify-content: space-evenly;
}
/*----------------------------payPage-space-check------------------------------------*/
.designerI-info-box {
  margin-top: 30px;
  width: 440px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 8px;
  padding: 25px 30px;
}
.designerI-title {
  font-size: 20px;
  font-weight: 500;
}
.designerI-item {
  border: 1px solid var(--gray1);
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.designerI-item img {
  width: 60px;
  border-radius: 8px;
}
.designerI-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 1px solid var(--gray1);
  padding-left: 10px;
}
.designerI-info > .designerI-name-career {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.designerI-info > .designerI-name-career > span:first-child {
  font-size: 20px;
  font-weight: 500;
}
.designerI-info .designerI-introduce {
  width: 300px;
  height: 19px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}
.designerI-more-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.designerI-more-btn > button {
  background-color: #fff;
  padding: 10px 30px;
  width: 100%;
  border: 1px solid var(--gray1);
  border-radius: 8px;
  font-size: 18px;
}
/*----------------------------payPage-designer-check------------------------------------*/
.payI-info-box {
  position: sticky;
  top: 90px;
  margin-top: 30px;
  width: 440px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 8px;
  padding: 25px 30px;
}
.payI-title {
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid var(--gray1);
  padding-bottom: 10px;
}
.payI-price-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payI-price-all {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: center;
}
.payI-price-all > span {
  font-size: 20px;
}
.payI-price {
  display: flex;
  align-content: space-between;
  align-items: flex-end;
  gap: 5px;
}
.payI-price > span:first-child {
  font-size: 26px;
  font-weight: 500;
}
.payI-consent {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.payI-price-box > button {
  border: none;
  background-color: var(--main1);
  padding: 10px 0px;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.payI-price-box > button:last-child {
  width: 60px;
  margin: 0 auto;
  background-color: #fff;
  border: none;
  color: var(--gray5);
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  cursor: pointer;
}
