.inter-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.inter-content {
  position: fixed;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  transition: all 0.75s ease-in-out;
  overflow-y: auto;
  border-radius: 500px;
  overflow: hidden;
}
.active {
  width: 90%;
  height: 90%;
  border-radius: 8px;
  transition: all 0.75s ease-in-out, border-radius 0.75s 0.35s ease-in-out;
}
.inter-content-info{
  position: relative; /* 또는 absolute */
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition-delay: 0.3s; /* 팝업 애니메이션 후 약간의 딜레이 */
  pointer-events: none; /* 안 보이는 동안 클릭 안 되게 */
}
.appear{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 1;
}
.inter-del-btn {
  position: relative;
  z-index: 10;
}
/*----------------------------screen------------------------------------*/
.inter-content > button {
  margin: 40px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.inter-content > button > .inter-del-btn {
  font-size: 40px;
  fill: var(--gray5);
}
.inter-next-box {
  display: flex;
  justify-content: flex-end;
}
.inter-next-btn {
  display: flex;
  align-items: center;
  background-color: var(--main1);
  padding: 7px 10px;
  border-radius: 8px;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
.inter-next-btn > svg {
  fill: #fff;
  vertical-align: middle;
  padding-left: 5px;
  font-size: 20px;
}
/*----------------------------modal-btn------------------------------------*/
.inter-main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inter-main-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.inter-main-text > .main-title {
  text-align: left;
  margin: 40px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
}
.inter-main-text > p {
  text-align: left;
  margin-left: 40px;
  font-size: 18px;
}
/*----------------------------modal-title------------------------------------*/
.interD-component-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.interD-select-box {
  width: 300px;
  padding: 20px 60px;
  border: 1px solid var(--gray1);
  border-radius: 8px;
  text-align: center;
}
.interD-component-box {
  width: 1240px;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.interD-choice-items {
  width: 900px;
  height: 530px;
  overflow: auto;
}
.interD-choice-item {
  margin-bottom: 20px;
}
.interD-check-img-box {
  border: 1px solid var(--gray1);
  border-radius: 8px;
  padding: 20px;
}
.interD-check-img-box > img {
  width: 160px;
}

