/*--------------------admin-main-all-wrap------------------*/
.admin-main-all-wrap {
  width: 1200px;
  margin: 0 auto;
}
.admin-main-all-wrap > h1 {
  margin-top: 50px;
  text-align: center;
}
/*---------------admin-main-wrap----------------*/
.admin-main-wrap {
  margin-top: 70px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.admin-main-wrap > section:first-child {
  margin-right: 30px;
}
.admin-main-wrap > section:last-child {
  width: 950px;
}
/*--------------------detail-content-wrap-----------------------*/
/*---------------------profile-title----------------------*/
.title-header {
  border-bottom: 2px solid var(--gray3);
}
.title-header > h1 {
  margin-bottom: 10px;
}
/*----------------------detail-default----------------------*/
/*.detail-default {
  margin-top: 15px;
}*/
/*---------------------default-profile-wrap------------------------*/
.default-profile-wrap {
  display: flex;
  align-items: flex-end;
}
/*-------------------------default-profile-table-------------------------------*/
.default-profile > table,
.default-profile table th,
.default-profile table td {
  border: 1px solid #fff;
  padding: 5px;
}
.default-profile > table th {
  text-align: left;
  font-size: 20px;
}
.default-profile > table td {
  font-size: 18px;
}
.default-profile > table th > h3 {
  text-align: left;
}
/*------------------------detail-edu------------------------*/
.detail-edu {
  border-top: 1px solid var(--gray3);
}
.detail-edu > table {
  margin-top: 5px;
  margin-left: 30px;
  text-align: center;
}
.detail-edu > table th {
  width: 120px;
  font-size: 20px;
  padding: 5px;
  text-align: left;
}
.detail-edu > table td {
  font-size: 18px;

  padding: 5px;
}
.detail-edu > table td:nth-child(2) {
  width: 100px;
  text-align: left;
}
.detail-edu > table td:nth-child(3) {
  width: 180px;
}
.detail-edu > table td:nth-child(4) {
  width: 180px;
}
/*--------------------detail-career-----------------------*/
.detail-career {
  border-top: 1px solid var(--gray3);
}
.detail-career > table {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.detail-career > table th {
  width: 120px;
  font-size: 20px;
  padding: 5px;
  text-align: left;
}
.detail-career > table td {
  font-size: 18px;
  padding: 5px;
}
.detail-career > table > tr > td:nth-child(2) {
  width: 170px;
  text-align: left;
}
.detail-career > table > tr > td:nth-child(3) {
  width: 170px;
}
/*-----------------------detail-award--------------------------*/
.detail-award {
  border-top: 1px solid var(--gray3);
}
.detail-award > table {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.detail-award > table th {
  width: 120px;
  font-size: 20px;
  padding: 5px;
  text-align: left;
}
.detail-award > table td {
  font-size: 18px;
  padding: 5px;
}
.detail-award > table td:nth-child(2) {
  width: 100px;
  text-align: left;
}
.detail-award > table td:nth-child(3) {
  width: 250px;
}
/*------------------------detail-payment--------------------------*/
.detail-payment {
  border-top: 1px solid var(--gray3);
}
.detail-payment > table {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.detail-payment > table th {
  width: 120px;
  font-size: 20px;
  padding: 5px;
  text-align: left;
}
.detail-payment > table td {
  font-size: 18px;
  padding: 5px;
}
.detail-payment > table td:nth-child(2) {
  width: 100px;
  text-align: left;
}
.detail-payment > table td:nth-child(3) {
  width: 200px;
}
/*---------------------detail-portfolio-------------------*/
.detail-portfolio {
  border-top: 1px solid var(--gray3);
}
.detail-portfolio > table {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.detail-portfolio > table th {
  width: 130px;
  font-size: 20px;
  padding: 5px;
  text-align: left;
}
.detail-portfolio > table td {
  width: 250px;
  font-size: 18px;
  padding: 5px;
  text-align: left;
}
/*-----------------------detail-kakao----------------------*/
.detail-kakao {
  border-top: 1px solid var(--gray3);
  border-bottom: 2px solid var(--gray3);
}
.detail-kakao > table {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.detail-kakao > table th {
  font-size: 20px;
  padding: 5px;
  text-align: left;
}
.detail-kakao > table td {
  width: 210px;
  font-size: 18px;
  padding: 5px;
  text-align: left;
}
/*--------------------------button-place---------------------------*/
.button-place {
  margin-top: 40px;
  width: 950;
  text-align: center;
}
.button-place > button {
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
.button-place > #cancel {
  margin-right: 10px;
  background-color: var(--gray5);
  color: #fff;
}
.button-place > #enter {
  margin-left: 10px;
  background-color: var(--main1);
  color: #fff;
}
.button-place > #cancel:hover {
  cursor: pointer;
  color: var(--gray2);
}
.button-place > #enter:hover {
  cursor: pointer;
  background-color: var(--btnHover);
}
/*---------------------------------------------------------------------------*/
/*---------------------------------admin-mypage-all-wrap--------------------*/
/*-----------------------------admin-mypage-content1----------------------------*/
.admin-mypage-content1 {
  width: 950px;
  display: flex;
  gap: 25px;
}
/*------------------------------main-chart----------------------------------*/
.main-chart > h2 {
  margin-bottom: 10px;
}
/*-----------------------------------admin-chart-content---------------------------------*/
.admin-chart-content {
  border: 1px solid var(--gray3);
  width: 450px;
  height: 300px;
}
/*----------------------------------applicant-list > h2--------------------------------*/
.applicant-list > h2 {
  margin-bottom: 10px;
}
/*---------------------------applicant-list > table-----------------------------*/
.applicant-list > table {
  width: 400px;
  text-align: center;
  border-top: 1px solid var(--gray3);
  border-spacing: 0;
}
.applicant-list > table th {
  border: none;
  padding: 10px;
}
.applicant-list > table td {
  border: none;
  padding: 10px;
}
.applicant-list > table > thead > tr > th {
  border-bottom: 1px solid var(--gray3);
  background-color: var(--main1);
  color: #fff;
  font-size: 22px;

  font-weight: 600;
}
.applicant-list > table > tbody > tr > td {
  border-bottom: 1px solid var(--gray3);
  font-size: 18px;
}
/*-----------------------------admin-mypage-content2----------------------------*/
.admin-mypage-content2 {
  margin-top: 15px;
}
/*-----------------------admin-mypage-content2 > h2--------------------*/
.admin-mypage-content2 > h2 {
  margin-bottom: 10px;
}
/*------------------------------admin-designer-table---------------------------*/
.admin-designer-table {
  width: 880px;
  text-align: center;
  border: none;
  border-top: 1px solid var(--gray3);
  border-spacing: 0;
}
.admin-designer-table > tr > th {
  border: none;
  padding: 10px;
  border-bottom: 1px solid var(--gray3);
  background-color: var(--main1);
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
.admin-designer-table > tr > td {
  border: none;
  padding: 10px;
  border-bottom: 1px solid var(--gray3);
  font-size: 18px;
}
/*---------------------------------------------------------------------------*/
/*----------------------------AdminSalesStatus--------------------------*/

/*-------------------------admin-sales-status-content-top----------------------*/
.admin-sales-status-content-top {
  display: flex;
  gap: 25px;
}
/*---------------------------------sales-chart----------------------------*/
.sales-chart > .chart-zone {
  width: 450px;
  height: 250px;
  border: 1px solid var(--gray3);
  box-sizing: border-box;
}
.sales-chart > .sales-btn-zone {
  margin-top: 5px;
  text-align: right;
}
.sales-chart > .sales-btn-zone button {
  width: 60px;
  height: 30px;
  border: 1px solid var(--gray3);
  border-radius: 3px;
  background-color: #fff;
}
.sales-chart > .sales-btn-zone button:hover {
  cursor: pointer;
}
/*-------------------------------------sales-btn-zone------------------------------------*/
.sales-btn-zone > #month-3 {
  margin-right: 5px;
}
.sales-btn-zone > #month-6 {
  margin-right: 5px;
}
.sales-chart > .sales-btn-zone .inclick {
  color: var(--main1);
  border: 2px solid var(--main1);
}
/*------------------------total-table-----------------------*/
.total-table > table {
  width: 450px;
  height: 250px;
  border-spacing: 0;
  border: none;
  border-top: 1px solid var(--gray3);
}
.total-table > table th {
  width: 200px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  background-color: var(--main1);
  border: none;
  border-bottom: 1px solid var(--gray3);
  border-right: 1px solid var(--gray3);
}
.total-table > table td {
  font-size: 18px;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--gray3);
}
/*-------------------admin-sales-status-content-bottom-------------------*/
.admin-sales-status-content-bottom {
  display: flex;
  gap: 25px;
}
/*-------------------space-sales-------------------*/
.space-sales > .space-sales-table > table {
  width: 450px;
  height: 300px;
  text-align: center;
  border-spacing: 0;
  border: none;
  border-top: 1px solid var(--gray3);
}
.space-sales > .space-sales-table > table th {
  border: none;
  border-bottom: 1px solid var(--gray3);
  height: 35px;
  background-color: var(--main1);
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.space-sales > .space-sales-table > table td {
  border: none;
  border-bottom: 1px solid var(--gray3);
  font-size: 18px;
}
/*-----------------------price-list----------------------*/
.price-list > table {
  width: 450px;
  height: 300px;
  text-align: center;
  border-spacing: 0;
  border: none;
  border-top: 1px solid var(--gray3);
}
.price-list > table th {
  border: none;
  border-bottom: 1px solid var(--gray3);
  height: 35px;
  background-color: var(--main1);
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.price-list > table td {
  border: none;
  border-bottom: 1px solid var(--gray3);
  font-size: 18px;
}
/*--------------------------sales-btn-zone--------------------------*/
.price-list > .sales-btn-zone {
  margin-top: 20px;
  text-align: center;
}
.sales-btn-zone > #price-update {
  border: none;
  border-radius: 5px;
  width: 170px;
  height: 35px;
  font-size: 18px;
  color: #fff;
  background-color: var(--main1);
}
.sales-btn-zone > #price-update:hover {
  cursor: pointer;
  background-color: var(--btnHover);
}
/*--------------------------AdminList--------------------------*/
/*------------------admin-list-title------------------*/
.admin-list-title {
  display: flex;
  justify-content: space-between;
}
.admin-list-title > select {
  width: 150px;
  font-size: 18px;
  text-align: center;
}
/*------------------admin-list-content------------------*/
.admin-list-content {
  margin-top: 20px;
}
/*----------------------admin-list-table--------------------*/
.admin-list-table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}
.admin-list-table > thead > tr {
  background-color: var(--main1);
  height: 40px;
  font-size: 20px;
}
.admin-list-table > thead > tr > th {
  color: #fff;
  font-weight: 600;
  border-top: 1px solid var(--gray3);
  border-bottom: 1px solid var(--gray3);
}
.admin-list-table > thead > tr > th:first-child {
  width: 20%;
}
.admin-list-table > thead > tr > th:nth-child(2) {
  width: 30%;
}
.admin-list-table > thead > tr > th:nth-child(3) {
  width: 30%;
}
.admin-list-table > thead > tr > th:last-child {
  width: 20%;
}
.admin-list-table > tbody > tr {
  height: 40px;
  font-size: 18px;
}
.admin-list-table > tbody > tr > td {
  border-bottom: 1px solid var(--gray3);
}
